noderedflow
[{"id":"f8634f13.c1bdb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c4224dc.2f4c5b","type":"ui_form","z":"f8634f13.c1bdb","name":"","label":"","group":"fb68aaf1.f66138","order":0,"width":"12","height":"4","options":[{"label":"Enter Your Queries","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":260,"wires":[["c1684aa9.6c0948"]]},{"id":"c1684aa9.6c0948","type":"function","z":"f8634f13.c1bdb","name":"","func":"  \nmsg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["774fc62d.a095a8","7942a07d.621ba"]]},{"id":"7942a07d.621ba","type":"ui_text","z":"f8634f13.c1bdb","group":"849663a7.62aea","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":400,"y":340,"wires":[]},{"id":"774fc62d.a095a8","type":"watson-conversation-v1","z":"f8634f13.c1bdb","name":"","workspaceid":"7336c6a0-2a87-4497-8c22-59d694e9aad2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.jp-tok.assistant.watson.cloud.ibm.com/instances/25964de3-ddf0-4f3c-9ec2-f86b50dd3c63","timeout":"","optout-learning":false,"x":400,"y":180,"wires":[["21dfd864.6e7698","20687bec.813cd4"]]},{"id":"20687bec.813cd4","type":"function","z":"f8634f13.c1bdb","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["1b56ff34.782901"]]},{"id":"1b56ff34.782901","type":"ui_text","z":"f8634f13.c1bdb","group":"d404fdd4.bb6c1","order":0,"width":"18","height":"9","name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":740,"y":340,"wires":[]},{"id":"21dfd864.6e7698","type":"debug","z":"f8634f13.c1bdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":180,"wires":[]},{"id":"fb68aaf1.f66138","type":"ui_group","z":"","name":"chatbot","tab":"bfbe6234.cbf3f","order":1,"disp":true,"width":"12","collapse":true},{"id":"849663a7.62aea","type":"ui_group","z":"","name":"display","tab":"bfbe6234.cbf3f","order":2,"disp":true,"width":"12","collapse":false},{"id":"d404fdd4.bb6c1","type":"ui_group","z":"","name":"answer","tab":"bfbe6234.cbf3f","order":3,"disp":true,"width":"24","collapse":true},{"id":"bfbe6234.cbf3f","type":"ui_tab","z":"","name":"Customer Sevice Help Desk","icon":"dashboard","disabled":false,"hidden":false}]
