noderedflow
[{"id":"25352942.28fb86","type":"tab","label":"Customer service help desk","disabled":false,"info":""},{"id":"c2ab02ac.74ccb","type":"ui_form","z":"25352942.28fb86","name":"","label":"","group":"fb68aaf1.f66138","order":1,"width":"6","height":"4","options":[{"label":"Enter Your Queries","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":280,"wires":[["ef3b3133.0cc42"]]},{"id":"ef3b3133.0cc42","type":"function","z":"25352942.28fb86","name":"in","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["3a12db9a.a98154","9b7fb28f.e282f"]]},{"id":"3a12db9a.a98154","type":"ui_text","z":"25352942.28fb86","group":"849663a7.62aea","order":1,"width":"5","height":"3","name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":420,"y":360,"wires":[]},{"id":"9b7fb28f.e282f","type":"watson-conversation-v1","z":"25352942.28fb86","name":"","workspaceid":"7336c6a0-2a87-4497-8c22-59d694e9aad2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.jp-tok.assistant.watson.cloud.ibm.com/instances/25964de3-ddf0-4f3c-9ec2-f86b50dd3c63","timeout":"","optout-learning":false,"x":440,"y":220,"wires":[["5099201b.00b59","3760cc25.fb89c4"]]},{"id":"5099201b.00b59","type":"function","z":"25352942.28fb86","name":"out","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["a4189373.8f9b8"]]},{"id":"a4189373.8f9b8","type":"ui_text","z":"25352942.28fb86","group":"d404fdd4.bb6c1","order":1,"width":"17","height":"7","name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":730,"y":360,"wires":[]},{"id":"3760cc25.fb89c4","type":"debug","z":"25352942.28fb86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":140,"wires":[]},{"id":"fb68aaf1.f66138","type":"ui_group","z":"","name":"chatbot","tab":"bfbe6234.cbf3f","order":1,"disp":true,"width":"12","collapse":true},{"id":"849663a7.62aea","type":"ui_group","z":"","name":"display","tab":"bfbe6234.cbf3f","order":2,"disp":true,"width":"12","collapse":false},{"id":"d404fdd4.bb6c1","type":"ui_group","z":"","name":"answer","tab":"bfbe6234.cbf3f","order":3,"disp":true,"width":"24","collapse":true},{"id":"bfbe6234.cbf3f","type":"ui_tab","z":"","name":"Customer Sevice Help Desk","icon":"dashboard","disabled":false,"hidden":false}]
